################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Habits-Tracker/.gitignore
/Habits-Tracker/.vs
/Habits-Tracker/.github
/Habits-Tracker/.git